<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Vue.js Monster Slayer</h1>
  </header>

  <main id="game">

    <section id="monster" class="container">
      <h2>Monster Health</h2>
      <div class="healthbar">
        <div class="healthbar__value" :style="monsterHpBar">
          <span v-if="monsterHP > 0">{{ monsterHP }}</span>
          <span v-else>Dead</span>
        </div>
      </div>
    </section>

    <section id="player" class="container">
      <h2>Your Health</h2>
      <div class="healthbar">
        <div class="healthbar__value" :style="userHpBar">
          <span v-if="userHP > 0">{{ userHP }}</span><span v-else>Dead</span>
        </div>
      </div>
    </section>

    <section id="gameStatus" class="container" v-if="winner">
      <h2>Game Over...</h2>
      <h3 v-if="winner === 'Monster'">Monster Wins!</h3>
      <h3 v-else-if="winner === 'Player'">Player Wins!</h3>
      <h3 v-else>It's a draw!</h3>
      <button v-on:click="reset">New Game</button>
    </section>

    <section id="controls" v-else>
      <button v-on:click="attack">ATTACK</button>
      <button v-on:click="specialAttack" :disabled="specialAttackAvailable">SPECIAL ATTACK</button>
      <button v-on:click="heal">HEAL</button>
      <button v-on:click="surrender">SURRENDER</button>
    </section>

    <section id="log" class="container">
      <h2>Battle Log</h2>
      <ul>
        <li v-for="(msg, index) in logMessages" :key="msg">
          <span :class="msg.actionBy === 'Player' ? 'log--player' : 'log--monster'">
            {{ msg.actionBy + ' ' }}</span>
          <span
            v-if="msg.actionType === 'Attack' || msg.actionType === 'Counter Attack' || msg.actionType === 'Special Attack'">
            <span class="log--damage">{{ msg.actionType + ' deals ' + msg.actionValue + ' damage!' }}</span>
          </span>
          <span v-else class="log--heal">{{ ' heals ' + msg.actionValue + ' damage!' }}</span>
        </li>
      </ul>
    </section>

  </main>
</body>

</html>